---
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Libros para programadores</title>
		<ClientRouter />
	</head>
	<body>
		<div>
			<slot />
		</div>
		
	</body>
</html>

<style>
	html{
		font-family: system-ui, sans-serif;
		background: #82012a;
		color: white;
	}
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	body{
		@apply grid place-content-center p-20;
	}
	body > div{
		@apply container
	}
</style>
